body {
    background-color:rgb(25, 190, 190);
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.container {
    width: 70%;
    height: 400px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
}

.search {
    width: calc(100% - 200px);
	position: center;
	margin-bottom: 4px;
}

#location {
    margin: auto;
    width: 50%;
	height: 30px;
	padding: 10px 50px;
	padding-right: 150px;
	outline: none;
	border-radius: 15px 15px 0px 0px;
	border: 0px;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	color: #252424;
}

#weatherLocation {
    margin: auto;
	font-family: 'Kanit', sans-serif;
	padding: 5px 25px;
	background-color: #6165F8;
	border: 1px solid #6165F8;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}
